.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.text-justify {
    text-align: justify
}

.is-visible {
    display: block !important
}

.is-hidden {
    display: none !important
}

@media screen and (max-width:39.9375em) {
    .hide-for-small-only {
        display: none !important
    }
}

@media screen and (max-width:0em),
screen and (min-width:40em) {
    .show-for-small-only {
        display: none !important
    }
}

@media print,
screen and (min-width:40em) {
    .hide-for-medium {
        display: none !important
    }
}

@media screen and (max-width:39.9375em) {
    .show-for-medium {
        display: none !important
    }
}

@media screen and (min-width:40em) and (max-width:61.9375em) {
    .hide-for-medium-only {
        display: none !important
    }
}

@media screen and (max-width:39.9375em),
screen and (min-width:62em) {
    .show-for-medium-only {
        display: none !important
    }
}

@media print,
screen and (min-width:62em) {
    .hide-for-large {
        display: none !important
    }
}

@media screen and (max-width:61.9375em) {
    .show-for-large {
        display: none !important
    }
}

@media screen and (min-width:62em) and (max-width:74.9375em) {
    .hide-for-large-only {
        display: none !important
    }
}

@media screen and (max-width:61.9375em),
screen and (min-width:75em) {
    .show-for-large-only {
        display: none !important
    }
}

@media screen and (min-width:75em) {
    .hide-for-xlarge {
        display: none !important
    }
}

@media screen and (max-width:74.9375em) {
    .show-for-xlarge {
        display: none !important
    }
}

@media screen and (min-width:75em) and (max-width:83.1875em) {
    .hide-for-xlarge-only {
        display: none !important
    }
}

@media screen and (max-width:74.9375em),
screen and (min-width:83.25em) {
    .show-for-xlarge-only {
        display: none !important
    }
}

@media screen and (min-width:83.25em) {
    .hide-for-xxlarge {
        display: none !important
    }
}

@media screen and (max-width:83.1875em) {
    .show-for-xxlarge {
        display: none !important
    }
}

@media screen and (min-width:83.25em) {
    .hide-for-xxlarge-only {
        display: none !important
    }
}

@media screen and (max-width:83.1875em) {
    .show-for-xxlarge-only {
        display: none !important
    }
}

.show-for-sr,
.show-on-focus {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0
}

.show-on-focus:active,
.show-on-focus:focus {
    position: static !important;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
    -webkit-clip-path: none;
    clip-path: none
}

.hide-for-portrait,
.show-for-landscape {
    display: block !important
}

@media screen and (orientation:landscape) {
    .hide-for-portrait,
    .show-for-landscape {
        display: block !important
    }
}

@media screen and (orientation:portrait) {
    .hide-for-portrait,
    .show-for-landscape {
        display: none !important
    }
}

.hide-for-landscape,
.show-for-portrait {
    display: none !important
}

@media screen and (orientation:landscape) {
    .hide-for-landscape,
    .show-for-portrait {
        display: none !important
    }
}

@media screen and (orientation:portrait) {
    .hide-for-landscape,
    .show-for-portrait {
        display: block !important
    }
}

.row {
    max-width: 87.5rem;
    margin-right: auto;
    margin-left: auto
}

.row::after,
.row::before {
    display: table;
    content: ' '
}

.row::after {
    clear: both
}

.row.collapse>.column,
.row.collapse>.columns {
    padding-right: 0;
    padding-left: 0
}

.row .row {
    margin-right: -.625rem;
    margin-left: -.625rem
}

@media print,
screen and (min-width:40em) {
    .row .row {
        margin-right: -1.40625rem;
        margin-left: -1.40625rem
    }
}

@media print,
screen and (min-width:62em) {
    .row .row {
        margin-right: -1.40625rem;
        margin-left: -1.40625rem
    }
}

@media screen and (min-width:75em) {
    .row .row {
        margin-right: -1.40625rem;
        margin-left: -1.40625rem
    }
}

@media screen and (min-width:83.25em) {
    .row .row {
        margin-right: -1.40625rem;
        margin-left: -1.40625rem
    }
}

.row .row.collapse {
    margin-right: 0;
    margin-left: 0
}

.row.expanded {
    max-width: none
}

.row.expanded .row {
    margin-right: auto;
    margin-left: auto
}

.row:not(.expanded) .row {
    max-width: none
}

.row.gutter-small>.column,
.row.gutter-small>.columns {
    padding-right: .625rem;
    padding-left: .625rem
}

.row.gutter-medium>.column,
.row.gutter-medium>.columns {
    padding-right: 1.40625rem;
    padding-left: 1.40625rem
}

.column,
.columns {
    width: 100%;
    float: left;
    padding-right: .625rem;
    padding-left: .625rem
}

@media print,
screen and (min-width:40em) {
    .column,
    .columns {
        padding-right: 1.40625rem;
        padding-left: 1.40625rem
    }
}

.column:last-child:not(:first-child),
.columns:last-child:not(:first-child) {
    float: right
}

.column.end:last-child:last-child,
.end.columns:last-child:last-child {
    float: left
}

.column.row.row,
.row.row.columns {
    float: none
}

.row .column.row.row,
.row .row.row.columns {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0
}

.small-1 {
    width: 8.33333%
}

.small-push-1 {
    position: relative;
    left: 8.33333%
}

.small-pull-1 {
    position: relative;
    left: -8.33333%
}

.small-offset-0 {
    margin-left: 0
}

.small-2 {
    width: 16.66667%
}

.small-push-2 {
    position: relative;
    left: 16.66667%
}

.small-pull-2 {
    position: relative;
    left: -16.66667%
}

.small-offset-1 {
    margin-left: 8.33333%
}

.small-3 {
    width: 25%
}

.small-push-3 {
    position: relative;
    left: 25%
}

.small-pull-3 {
    position: relative;
    left: -25%
}

.small-offset-2 {
    margin-left: 16.66667%
}

.small-4 {
    width: 33.33333%
}

.small-push-4 {
    position: relative;
    left: 33.33333%
}

.small-pull-4 {
    position: relative;
    left: -33.33333%
}

.small-offset-3 {
    margin-left: 25%
}

.small-5 {
    width: 41.66667%
}

.small-push-5 {
    position: relative;
    left: 41.66667%
}

.small-pull-5 {
    position: relative;
    left: -41.66667%
}

.small-offset-4 {
    margin-left: 33.33333%
}

.small-6 {
    width: 50%
}

.small-push-6 {
    position: relative;
    left: 50%
}

.small-pull-6 {
    position: relative;
    left: -50%
}

.small-offset-5 {
    margin-left: 41.66667%
}

.small-7 {
    width: 58.33333%
}

.small-push-7 {
    position: relative;
    left: 58.33333%
}

.small-pull-7 {
    position: relative;
    left: -58.33333%
}

.small-offset-6 {
    margin-left: 50%
}

.small-8 {
    width: 66.66667%
}

.small-push-8 {
    position: relative;
    left: 66.66667%
}

.small-pull-8 {
    position: relative;
    left: -66.66667%
}

.small-offset-7 {
    margin-left: 58.33333%
}

.small-9 {
    width: 75%
}

.small-push-9 {
    position: relative;
    left: 75%
}

.small-pull-9 {
    position: relative;
    left: -75%
}

.small-offset-8 {
    margin-left: 66.66667%
}

.small-10 {
    width: 83.33333%
}

.small-push-10 {
    position: relative;
    left: 83.33333%
}

.small-pull-10 {
    position: relative;
    left: -83.33333%
}

.small-offset-9 {
    margin-left: 75%
}

.small-11 {
    width: 91.66667%
}

.small-push-11 {
    position: relative;
    left: 91.66667%
}

.small-pull-11 {
    position: relative;
    left: -91.66667%
}

.small-offset-10 {
    margin-left: 83.33333%
}

.small-12 {
    width: 100%
}

.small-offset-11 {
    margin-left: 91.66667%
}

.small-up-1>.column,
.small-up-1>.columns {
    float: left;
    width: 100%
}

.small-up-1>.column:nth-of-type(1n),
.small-up-1>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-1>.column:nth-of-type(1n+1),
.small-up-1>.columns:nth-of-type(1n+1) {
    clear: both
}

.small-up-1>.column:last-child,
.small-up-1>.columns:last-child {
    float: left
}

.small-up-2>.column,
.small-up-2>.columns {
    float: left;
    width: 50%
}

.small-up-2>.column:nth-of-type(1n),
.small-up-2>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-2>.column:nth-of-type(2n+1),
.small-up-2>.columns:nth-of-type(2n+1) {
    clear: both
}

.small-up-2>.column:last-child,
.small-up-2>.columns:last-child {
    float: left
}

.small-up-3>.column,
.small-up-3>.columns {
    float: left;
    width: 33.33333%
}

.small-up-3>.column:nth-of-type(1n),
.small-up-3>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-3>.column:nth-of-type(3n+1),
.small-up-3>.columns:nth-of-type(3n+1) {
    clear: both
}

.small-up-3>.column:last-child,
.small-up-3>.columns:last-child {
    float: left
}

.small-up-4>.column,
.small-up-4>.columns {
    float: left;
    width: 25%
}

.small-up-4>.column:nth-of-type(1n),
.small-up-4>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-4>.column:nth-of-type(4n+1),
.small-up-4>.columns:nth-of-type(4n+1) {
    clear: both
}

.small-up-4>.column:last-child,
.small-up-4>.columns:last-child {
    float: left
}

.small-up-5>.column,
.small-up-5>.columns {
    float: left;
    width: 20%
}

.small-up-5>.column:nth-of-type(1n),
.small-up-5>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-5>.column:nth-of-type(5n+1),
.small-up-5>.columns:nth-of-type(5n+1) {
    clear: both
}

.small-up-5>.column:last-child,
.small-up-5>.columns:last-child {
    float: left
}

.small-up-6>.column,
.small-up-6>.columns {
    float: left;
    width: 16.66667%
}

.small-up-6>.column:nth-of-type(1n),
.small-up-6>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-6>.column:nth-of-type(6n+1),
.small-up-6>.columns:nth-of-type(6n+1) {
    clear: both
}

.small-up-6>.column:last-child,
.small-up-6>.columns:last-child {
    float: left
}

.small-up-7>.column,
.small-up-7>.columns {
    float: left;
    width: 14.28571%
}

.small-up-7>.column:nth-of-type(1n),
.small-up-7>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-7>.column:nth-of-type(7n+1),
.small-up-7>.columns:nth-of-type(7n+1) {
    clear: both
}

.small-up-7>.column:last-child,
.small-up-7>.columns:last-child {
    float: left
}

.small-up-8>.column,
.small-up-8>.columns {
    float: left;
    width: 12.5%
}

.small-up-8>.column:nth-of-type(1n),
.small-up-8>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-8>.column:nth-of-type(8n+1),
.small-up-8>.columns:nth-of-type(8n+1) {
    clear: both
}

.small-up-8>.column:last-child,
.small-up-8>.columns:last-child {
    float: left
}

.small-collapse>.column,
.small-collapse>.columns {
    padding-right: 0;
    padding-left: 0
}

.small-collapse .row {
    margin-right: 0;
    margin-left: 0
}

.expanded.row .small-collapse.row {
    margin-right: 0;
    margin-left: 0
}

.small-uncollapse>.column,
.small-uncollapse>.columns {
    padding-right: .625rem;
    padding-left: .625rem
}

.small-centered {
    margin-right: auto;
    margin-left: auto
}

.small-centered,
.small-centered:last-child:not(:first-child) {
    float: none;
    clear: both
}

.small-pull-0,
.small-push-0,
.small-uncentered {
    position: static;
    float: left;
    margin-right: 0;
    margin-left: 0
}

@media print,
screen and (min-width:40em) {
    .medium-1 {
        width: 8.33333%
    }
    .medium-push-1 {
        position: relative;
        left: 8.33333%
    }
    .medium-pull-1 {
        position: relative;
        left: -8.33333%
    }
    .medium-offset-0 {
        margin-left: 0
    }
    .medium-2 {
        width: 16.66667%
    }
    .medium-push-2 {
        position: relative;
        left: 16.66667%
    }
    .medium-pull-2 {
        position: relative;
        left: -16.66667%
    }
    .medium-offset-1 {
        margin-left: 8.33333%
    }
    .medium-3 {
        width: 25%
    }
    .medium-push-3 {
        position: relative;
        left: 25%
    }
    .medium-pull-3 {
        position: relative;
        left: -25%
    }
    .medium-offset-2 {
        margin-left: 16.66667%
    }
    .medium-4 {
        width: 33.33333%
    }
    .medium-push-4 {
        position: relative;
        left: 33.33333%
    }
    .medium-pull-4 {
        position: relative;
        left: -33.33333%
    }
    .medium-offset-3 {
        margin-left: 25%
    }
    .medium-5 {
        width: 41.66667%
    }
    .medium-push-5 {
        position: relative;
        left: 41.66667%
    }
    .medium-pull-5 {
        position: relative;
        left: -41.66667%
    }
    .medium-offset-4 {
        margin-left: 33.33333%
    }
    .medium-6 {
        width: 50%
    }
    .medium-push-6 {
        position: relative;
        left: 50%
    }
    .medium-pull-6 {
        position: relative;
        left: -50%
    }
    .medium-offset-5 {
        margin-left: 41.66667%
    }
    .medium-7 {
        width: 58.33333%
    }
    .medium-push-7 {
        position: relative;
        left: 58.33333%
    }
    .medium-pull-7 {
        position: relative;
        left: -58.33333%
    }
    .medium-offset-6 {
        margin-left: 50%
    }
    .medium-8 {
        width: 66.66667%
    }
    .medium-push-8 {
        position: relative;
        left: 66.66667%
    }
    .medium-pull-8 {
        position: relative;
        left: -66.66667%
    }
    .medium-offset-7 {
        margin-left: 58.33333%
    }
    .medium-9 {
        width: 75%
    }
    .medium-push-9 {
        position: relative;
        left: 75%
    }
    .medium-pull-9 {
        position: relative;
        left: -75%
    }
    .medium-offset-8 {
        margin-left: 66.66667%
    }
    .medium-10 {
        width: 83.33333%
    }
    .medium-push-10 {
        position: relative;
        left: 83.33333%
    }
    .medium-pull-10 {
        position: relative;
        left: -83.33333%
    }
    .medium-offset-9 {
        margin-left: 75%
    }
    .medium-11 {
        width: 91.66667%
    }
    .medium-push-11 {
        position: relative;
        left: 91.66667%
    }
    .medium-pull-11 {
        position: relative;
        left: -91.66667%
    }
    .medium-offset-10 {
        margin-left: 83.33333%
    }
    .medium-12 {
        width: 100%
    }
    .medium-offset-11 {
        margin-left: 91.66667%
    }
    .medium-up-1>.column,
    .medium-up-1>.columns {
        float: left;
        width: 100%
    }
    .medium-up-1>.column:nth-of-type(1n),
    .medium-up-1>.columns:nth-of-type(1n) {
        clear: none
    }
    .medium-up-1>.column:nth-of-type(1n+1),
    .medium-up-1>.columns:nth-of-type(1n+1) {
        clear: both
    }
    .medium-up-1>.column:last-child,
    .medium-up-1>.columns:last-child {
        float: left
    }
    .medium-up-2>.column,
    .medium-up-2>.columns {
        float: left;
        width: 50%
    }
    .medium-up-2>.column:nth-of-type(1n),
    .medium-up-2>.columns:nth-of-type(1n) {
        clear: none
    }
    .medium-up-2>.column:nth-of-type(2n+1),
    .medium-up-2>.columns:nth-of-type(2n+1) {
        clear: both
    }
    .medium-up-2>.column:last-child,
    .medium-up-2>.columns:last-child {
        float: left
    }
    .medium-up-3>.column,
    .medium-up-3>.columns {
        float: left;
        width: 33.33333%
    }
    .medium-up-3>.column:nth-of-type(1n),
    .medium-up-3>.columns:nth-of-type(1n) {
        clear: none
    }
    .medium-up-3>.column:nth-of-type(3n+1),
    .medium-up-3>.columns:nth-of-type(3n+1) {
        clear: both
    }
    .medium-up-3>.column:last-child,
    .medium-up-3>.columns:last-child {
        float: left
    }
    .medium-up-4>.column,
    .medium-up-4>.columns {
        float: left;
        width: 25%
    }
    .medium-up-4>.column:nth-of-type(1n),
    .medium-up-4>.columns:nth-of-type(1n) {
        clear: none
    }
    .medium-up-4>.column:nth-of-type(4n+1),
    .medium-up-4>.columns:nth-of-type(4n+1) {
        clear: both
    }
    .medium-up-4>.column:last-child,
    .medium-up-4>.columns:last-child {
        float: left
    }
    .medium-up-5>.column,
    .medium-up-5>.columns {
        float: left;
        width: 20%
    }
    .medium-up-5>.column:nth-of-type(1n),
    .medium-up-5>.columns:nth-of-type(1n) {
        clear: none
    }
    .medium-up-5>.column:nth-of-type(5n+1),
    .medium-up-5>.columns:nth-of-type(5n+1) {
        clear: both
    }
    .medium-up-5>.column:last-child,
    .medium-up-5>.columns:last-child {
        float: left
    }
    .medium-up-6>.column,
    .medium-up-6>.columns {
        float: left;
        width: 16.66667%
    }
    .medium-up-6>.column:nth-of-type(1n),
    .medium-up-6>.columns:nth-of-type(1n) {
        clear: none
    }
    .medium-up-6>.column:nth-of-type(6n+1),
    .medium-up-6>.columns:nth-of-type(6n+1) {
        clear: both
    }
    .medium-up-6>.column:last-child,
    .medium-up-6>.columns:last-child {
        float: left
    }
    .medium-up-7>.column,
    .medium-up-7>.columns {
        float: left;
        width: 14.28571%
    }
    .medium-up-7>.column:nth-of-type(1n),
    .medium-up-7>.columns:nth-of-type(1n) {
        clear: none
    }
    .medium-up-7>.column:nth-of-type(7n+1),
    .medium-up-7>.columns:nth-of-type(7n+1) {
        clear: both
    }
    .medium-up-7>.column:last-child,
    .medium-up-7>.columns:last-child {
        float: left
    }
    .medium-up-8>.column,
    .medium-up-8>.columns {
        float: left;
        width: 12.5%
    }
    .medium-up-8>.column:nth-of-type(1n),
    .medium-up-8>.columns:nth-of-type(1n) {
        clear: none
    }
    .medium-up-8>.column:nth-of-type(8n+1),
    .medium-up-8>.columns:nth-of-type(8n+1) {
        clear: both
    }
    .medium-up-8>.column:last-child,
    .medium-up-8>.columns:last-child {
        float: left
    }
    .medium-collapse>.column,
    .medium-collapse>.columns {
        padding-right: 0;
        padding-left: 0
    }
    .medium-collapse .row {
        margin-right: 0;
        margin-left: 0
    }
    .expanded.row .medium-collapse.row {
        margin-right: 0;
        margin-left: 0
    }
    .medium-uncollapse>.column,
    .medium-uncollapse>.columns {
        padding-right: 1.40625rem;
        padding-left: 1.40625rem
    }
    .medium-centered {
        margin-right: auto;
        margin-left: auto
    }
    .medium-centered,
    .medium-centered:last-child:not(:first-child) {
        float: none;
        clear: both
    }
    .medium-pull-0,
    .medium-push-0,
    .medium-uncentered {
        position: static;
        float: left;
        margin-right: 0;
        margin-left: 0
    }
}

@media print,
screen and (min-width:62em) {
    .large-1 {
        width: 8.33333%
    }
    .large-push-1 {
        position: relative;
        left: 8.33333%
    }
    .large-pull-1 {
        position: relative;
        left: -8.33333%
    }
    .large-offset-0 {
        margin-left: 0
    }
    .large-2 {
        width: 16.66667%
    }
    .large-push-2 {
        position: relative;
        left: 16.66667%
    }
    .large-pull-2 {
        position: relative;
        left: -16.66667%
    }
    .large-offset-1 {
        margin-left: 8.33333%
    }
    .large-3 {
        width: 25%
    }
    .large-push-3 {
        position: relative;
        left: 25%
    }
    .large-pull-3 {
        position: relative;
        left: -25%
    }
    .large-offset-2 {
        margin-left: 16.66667%
    }
    .large-4 {
        width: 33.33333%
    }
    .large-push-4 {
        position: relative;
        left: 33.33333%
    }
    .large-pull-4 {
        position: relative;
        left: -33.33333%
    }
    .large-offset-3 {
        margin-left: 25%
    }
    .large-5 {
        width: 41.66667%
    }
    .large-push-5 {
        position: relative;
        left: 41.66667%
    }
    .large-pull-5 {
        position: relative;
        left: -41.66667%
    }
    .large-offset-4 {
        margin-left: 33.33333%
    }
    .large-6 {
        width: 50%
    }
    .large-push-6 {
        position: relative;
        left: 50%
    }
    .large-pull-6 {
        position: relative;
        left: -50%
    }
    .large-offset-5 {
        margin-left: 41.66667%
    }
    .large-7 {
        width: 58.33333%
    }
    .large-push-7 {
        position: relative;
        left: 58.33333%
    }
    .large-pull-7 {
        position: relative;
        left: -58.33333%
    }
    .large-offset-6 {
        margin-left: 50%
    }
    .large-8 {
        width: 66.66667%
    }
    .large-push-8 {
        position: relative;
        left: 66.66667%
    }
    .large-pull-8 {
        position: relative;
        left: -66.66667%
    }
    .large-offset-7 {
        margin-left: 58.33333%
    }
    .large-9 {
        width: 75%
    }
    .large-push-9 {
        position: relative;
        left: 75%
    }
    .large-pull-9 {
        position: relative;
        left: -75%
    }
    .large-offset-8 {
        margin-left: 66.66667%
    }
    .large-10 {
        width: 83.33333%
    }
    .large-push-10 {
        position: relative;
        left: 83.33333%
    }
    .large-pull-10 {
        position: relative;
        left: -83.33333%
    }
    .large-offset-9 {
        margin-left: 75%
    }
    .large-11 {
        width: 91.66667%
    }
    .large-push-11 {
        position: relative;
        left: 91.66667%
    }
    .large-pull-11 {
        position: relative;
        left: -91.66667%
    }
    .large-offset-10 {
        margin-left: 83.33333%
    }
    .large-12 {
        width: 100%
    }
    .large-offset-11 {
        margin-left: 91.66667%
    }
    .large-up-1>.column,
    .large-up-1>.columns {
        float: left;
        width: 100%
    }
    .large-up-1>.column:nth-of-type(1n),
    .large-up-1>.columns:nth-of-type(1n) {
        clear: none
    }
    .large-up-1>.column:nth-of-type(1n+1),
    .large-up-1>.columns:nth-of-type(1n+1) {
        clear: both
    }
    .large-up-1>.column:last-child,
    .large-up-1>.columns:last-child {
        float: left
    }
    .large-up-2>.column,
    .large-up-2>.columns {
        float: left;
        width: 50%
    }
    .large-up-2>.column:nth-of-type(1n),
    .large-up-2>.columns:nth-of-type(1n) {
        clear: none
    }
    .large-up-2>.column:nth-of-type(2n+1),
    .large-up-2>.columns:nth-of-type(2n+1) {
        clear: both
    }
    .large-up-2>.column:last-child,
    .large-up-2>.columns:last-child {
        float: left
    }
    .large-up-3>.column,
    .large-up-3>.columns {
        float: left;
        width: 33.33333%
    }
    .large-up-3>.column:nth-of-type(1n),
    .large-up-3>.columns:nth-of-type(1n) {
        clear: none
    }
    .large-up-3>.column:nth-of-type(3n+1),
    .large-up-3>.columns:nth-of-type(3n+1) {
        clear: both
    }
    .large-up-3>.column:last-child,
    .large-up-3>.columns:last-child {
        float: left
    }
    .large-up-4>.column,
    .large-up-4>.columns {
        float: left;
        width: 25%
    }
    .large-up-4>.column:nth-of-type(1n),
    .large-up-4>.columns:nth-of-type(1n) {
        clear: none
    }
    .large-up-4>.column:nth-of-type(4n+1),
    .large-up-4>.columns:nth-of-type(4n+1) {
        clear: both
    }
    .large-up-4>.column:last-child,
    .large-up-4>.columns:last-child {
        float: left
    }
    .large-up-5>.column,
    .large-up-5>.columns {
        float: left;
        width: 20%
    }
    .large-up-5>.column:nth-of-type(1n),
    .large-up-5>.columns:nth-of-type(1n) {
        clear: none
    }
    .large-up-5>.column:nth-of-type(5n+1),
    .large-up-5>.columns:nth-of-type(5n+1) {
        clear: both
    }
    .large-up-5>.column:last-child,
    .large-up-5>.columns:last-child {
        float: left
    }
    .large-up-6>.column,
    .large-up-6>.columns {
        float: left;
        width: 16.66667%
    }
    .large-up-6>.column:nth-of-type(1n),
    .large-up-6>.columns:nth-of-type(1n) {
        clear: none
    }
    .large-up-6>.column:nth-of-type(6n+1),
    .large-up-6>.columns:nth-of-type(6n+1) {
        clear: both
    }
    .large-up-6>.column:last-child,
    .large-up-6>.columns:last-child {
        float: left
    }
    .large-up-7>.column,
    .large-up-7>.columns {
        float: left;
        width: 14.28571%
    }
    .large-up-7>.column:nth-of-type(1n),
    .large-up-7>.columns:nth-of-type(1n) {
        clear: none
    }
    .large-up-7>.column:nth-of-type(7n+1),
    .large-up-7>.columns:nth-of-type(7n+1) {
        clear: both
    }
    .large-up-7>.column:last-child,
    .large-up-7>.columns:last-child {
        float: left
    }
    .large-up-8>.column,
    .large-up-8>.columns {
        float: left;
        width: 12.5%
    }
    .large-up-8>.column:nth-of-type(1n),
    .large-up-8>.columns:nth-of-type(1n) {
        clear: none
    }
    .large-up-8>.column:nth-of-type(8n+1),
    .large-up-8>.columns:nth-of-type(8n+1) {
        clear: both
    }
    .large-up-8>.column:last-child,
    .large-up-8>.columns:last-child {
        float: left
    }
    .large-collapse>.column,
    .large-collapse>.columns {
        padding-right: 0;
        padding-left: 0
    }
    .large-collapse .row {
        margin-right: 0;
        margin-left: 0
    }
    .expanded.row .large-collapse.row {
        margin-right: 0;
        margin-left: 0
    }
    .large-uncollapse>.column,
    .large-uncollapse>.columns {
        padding-right: 1.40625rem;
        padding-left: 1.40625rem
    }
    .large-centered {
        margin-right: auto;
        margin-left: auto
    }
    .large-centered,
    .large-centered:last-child:not(:first-child) {
        float: none;
        clear: both
    }
    .large-pull-0,
    .large-push-0,
    .large-uncentered {
        position: static;
        float: left;
        margin-right: 0;
        margin-left: 0
    }
}

@media screen and (min-width:75em) {
    .xlarge-1 {
        width: 8.33333%
    }
    .xlarge-push-1 {
        position: relative;
        left: 8.33333%
    }
    .xlarge-pull-1 {
        position: relative;
        left: -8.33333%
    }
    .xlarge-offset-0 {
        margin-left: 0
    }
    .xlarge-2 {
        width: 16.66667%
    }
    .xlarge-push-2 {
        position: relative;
        left: 16.66667%
    }
    .xlarge-pull-2 {
        position: relative;
        left: -16.66667%
    }
    .xlarge-offset-1 {
        margin-left: 8.33333%
    }
    .xlarge-3 {
        width: 25%
    }
    .xlarge-push-3 {
        position: relative;
        left: 25%
    }
    .xlarge-pull-3 {
        position: relative;
        left: -25%
    }
    .xlarge-offset-2 {
        margin-left: 16.66667%
    }
    .xlarge-4 {
        width: 33.33333%
    }
    .xlarge-push-4 {
        position: relative;
        left: 33.33333%
    }
    .xlarge-pull-4 {
        position: relative;
        left: -33.33333%
    }
    .xlarge-offset-3 {
        margin-left: 25%
    }
    .xlarge-5 {
        width: 41.66667%
    }
    .xlarge-push-5 {
        position: relative;
        left: 41.66667%
    }
    .xlarge-pull-5 {
        position: relative;
        left: -41.66667%
    }
    .xlarge-offset-4 {
        margin-left: 33.33333%
    }
    .xlarge-6 {
        width: 50%
    }
    .xlarge-push-6 {
        position: relative;
        left: 50%
    }
    .xlarge-pull-6 {
        position: relative;
        left: -50%
    }
    .xlarge-offset-5 {
        margin-left: 41.66667%
    }
    .xlarge-7 {
        width: 58.33333%
    }
    .xlarge-push-7 {
        position: relative;
        left: 58.33333%
    }
    .xlarge-pull-7 {
        position: relative;
        left: -58.33333%
    }
    .xlarge-offset-6 {
        margin-left: 50%
    }
    .xlarge-8 {
        width: 66.66667%
    }
    .xlarge-push-8 {
        position: relative;
        left: 66.66667%
    }
    .xlarge-pull-8 {
        position: relative;
        left: -66.66667%
    }
    .xlarge-offset-7 {
        margin-left: 58.33333%
    }
    .xlarge-9 {
        width: 75%
    }
    .xlarge-push-9 {
        position: relative;
        left: 75%
    }
    .xlarge-pull-9 {
        position: relative;
        left: -75%
    }
    .xlarge-offset-8 {
        margin-left: 66.66667%
    }
    .xlarge-10 {
        width: 83.33333%
    }
    .xlarge-push-10 {
        position: relative;
        left: 83.33333%
    }
    .xlarge-pull-10 {
        position: relative;
        left: -83.33333%
    }
    .xlarge-offset-9 {
        margin-left: 75%
    }
    .xlarge-11 {
        width: 91.66667%
    }
    .xlarge-push-11 {
        position: relative;
        left: 91.66667%
    }
    .xlarge-pull-11 {
        position: relative;
        left: -91.66667%
    }
    .xlarge-offset-10 {
        margin-left: 83.33333%
    }
    .xlarge-12 {
        width: 100%
    }
    .xlarge-offset-11 {
        margin-left: 91.66667%
    }
    .xlarge-up-1>.column,
    .xlarge-up-1>.columns {
        float: left;
        width: 100%
    }
    .xlarge-up-1>.column:nth-of-type(1n),
    .xlarge-up-1>.columns:nth-of-type(1n) {
        clear: none
    }
    .xlarge-up-1>.column:nth-of-type(1n+1),
    .xlarge-up-1>.columns:nth-of-type(1n+1) {
        clear: both
    }
    .xlarge-up-1>.column:last-child,
    .xlarge-up-1>.columns:last-child {
        float: left
    }
    .xlarge-up-2>.column,
    .xlarge-up-2>.columns {
        float: left;
        width: 50%
    }
    .xlarge-up-2>.column:nth-of-type(1n),
    .xlarge-up-2>.columns:nth-of-type(1n) {
        clear: none
    }
    .xlarge-up-2>.column:nth-of-type(2n+1),
    .xlarge-up-2>.columns:nth-of-type(2n+1) {
        clear: both
    }
    .xlarge-up-2>.column:last-child,
    .xlarge-up-2>.columns:last-child {
        float: left
    }
    .xlarge-up-3>.column,
    .xlarge-up-3>.columns {
        float: left;
        width: 33.33333%
    }
    .xlarge-up-3>.column:nth-of-type(1n),
    .xlarge-up-3>.columns:nth-of-type(1n) {
        clear: none
    }
    .xlarge-up-3>.column:nth-of-type(3n+1),
    .xlarge-up-3>.columns:nth-of-type(3n+1) {
        clear: both
    }
    .xlarge-up-3>.column:last-child,
    .xlarge-up-3>.columns:last-child {
        float: left
    }
    .xlarge-up-4>.column,
    .xlarge-up-4>.columns {
        float: left;
        width: 25%
    }
    .xlarge-up-4>.column:nth-of-type(1n),
    .xlarge-up-4>.columns:nth-of-type(1n) {
        clear: none
    }
    .xlarge-up-4>.column:nth-of-type(4n+1),
    .xlarge-up-4>.columns:nth-of-type(4n+1) {
        clear: both
    }
    .xlarge-up-4>.column:last-child,
    .xlarge-up-4>.columns:last-child {
        float: left
    }
    .xlarge-up-5>.column,
    .xlarge-up-5>.columns {
        float: left;
        width: 20%
    }
    .xlarge-up-5>.column:nth-of-type(1n),
    .xlarge-up-5>.columns:nth-of-type(1n) {
        clear: none
    }
    .xlarge-up-5>.column:nth-of-type(5n+1),
    .xlarge-up-5>.columns:nth-of-type(5n+1) {
        clear: both
    }
    .xlarge-up-5>.column:last-child,
    .xlarge-up-5>.columns:last-child {
        float: left
    }
    .xlarge-up-6>.column,
    .xlarge-up-6>.columns {
        float: left;
        width: 16.66667%
    }
    .xlarge-up-6>.column:nth-of-type(1n),
    .xlarge-up-6>.columns:nth-of-type(1n) {
        clear: none
    }
    .xlarge-up-6>.column:nth-of-type(6n+1),
    .xlarge-up-6>.columns:nth-of-type(6n+1) {
        clear: both
    }
    .xlarge-up-6>.column:last-child,
    .xlarge-up-6>.columns:last-child {
        float: left
    }
    .xlarge-up-7>.column,
    .xlarge-up-7>.columns {
        float: left;
        width: 14.28571%
    }
    .xlarge-up-7>.column:nth-of-type(1n),
    .xlarge-up-7>.columns:nth-of-type(1n) {
        clear: none
    }
    .xlarge-up-7>.column:nth-of-type(7n+1),
    .xlarge-up-7>.columns:nth-of-type(7n+1) {
        clear: both
    }
    .xlarge-up-7>.column:last-child,
    .xlarge-up-7>.columns:last-child {
        float: left
    }
    .xlarge-up-8>.column,
    .xlarge-up-8>.columns {
        float: left;
        width: 12.5%
    }
    .xlarge-up-8>.column:nth-of-type(1n),
    .xlarge-up-8>.columns:nth-of-type(1n) {
        clear: none
    }
    .xlarge-up-8>.column:nth-of-type(8n+1),
    .xlarge-up-8>.columns:nth-of-type(8n+1) {
        clear: both
    }
    .xlarge-up-8>.column:last-child,
    .xlarge-up-8>.columns:last-child {
        float: left
    }
    .xlarge-collapse>.column,
    .xlarge-collapse>.columns {
        padding-right: 0;
        padding-left: 0
    }
    .xlarge-collapse .row {
        margin-right: 0;
        margin-left: 0
    }
    .expanded.row .xlarge-collapse.row {
        margin-right: 0;
        margin-left: 0
    }
    .xlarge-uncollapse>.column,
    .xlarge-uncollapse>.columns {
        padding-right: 1.40625rem;
        padding-left: 1.40625rem
    }
    .xlarge-centered {
        margin-right: auto;
        margin-left: auto
    }
    .xlarge-centered,
    .xlarge-centered:last-child:not(:first-child) {
        float: none;
        clear: both
    }
    .xlarge-pull-0,
    .xlarge-push-0,
    .xlarge-uncentered {
        position: static;
        float: left;
        margin-right: 0;
        margin-left: 0
    }
}

@media screen and (min-width:83.25em) {
    .xxlarge-1 {
        width: 8.33333%
    }
    .xxlarge-push-1 {
        position: relative;
        left: 8.33333%
    }
    .xxlarge-pull-1 {
        position: relative;
        left: -8.33333%
    }
    .xxlarge-offset-0 {
        margin-left: 0
    }
    .xxlarge-2 {
        width: 16.66667%
    }
    .xxlarge-push-2 {
        position: relative;
        left: 16.66667%
    }
    .xxlarge-pull-2 {
        position: relative;
        left: -16.66667%
    }
    .xxlarge-offset-1 {
        margin-left: 8.33333%
    }
    .xxlarge-3 {
        width: 25%
    }
    .xxlarge-push-3 {
        position: relative;
        left: 25%
    }
    .xxlarge-pull-3 {
        position: relative;
        left: -25%
    }
    .xxlarge-offset-2 {
        margin-left: 16.66667%
    }
    .xxlarge-4 {
        width: 33.33333%
    }
    .xxlarge-push-4 {
        position: relative;
        left: 33.33333%
    }
    .xxlarge-pull-4 {
        position: relative;
        left: -33.33333%
    }
    .xxlarge-offset-3 {
        margin-left: 25%
    }
    .xxlarge-5 {
        width: 41.66667%
    }
    .xxlarge-push-5 {
        position: relative;
        left: 41.66667%
    }
    .xxlarge-pull-5 {
        position: relative;
        left: -41.66667%
    }
    .xxlarge-offset-4 {
        margin-left: 33.33333%
    }
    .xxlarge-6 {
        width: 50%
    }
    .xxlarge-push-6 {
        position: relative;
        left: 50%
    }
    .xxlarge-pull-6 {
        position: relative;
        left: -50%
    }
    .xxlarge-offset-5 {
        margin-left: 41.66667%
    }
    .xxlarge-7 {
        width: 58.33333%
    }
    .xxlarge-push-7 {
        position: relative;
        left: 58.33333%
    }
    .xxlarge-pull-7 {
        position: relative;
        left: -58.33333%
    }
    .xxlarge-offset-6 {
        margin-left: 50%
    }
    .xxlarge-8 {
        width: 66.66667%
    }
    .xxlarge-push-8 {
        position: relative;
        left: 66.66667%
    }
    .xxlarge-pull-8 {
        position: relative;
        left: -66.66667%
    }
    .xxlarge-offset-7 {
        margin-left: 58.33333%
    }
    .xxlarge-9 {
        width: 75%
    }
    .xxlarge-push-9 {
        position: relative;
        left: 75%
    }
    .xxlarge-pull-9 {
        position: relative;
        left: -75%
    }
    .xxlarge-offset-8 {
        margin-left: 66.66667%
    }
    .xxlarge-10 {
        width: 83.33333%
    }
    .xxlarge-push-10 {
        position: relative;
        left: 83.33333%
    }
    .xxlarge-pull-10 {
        position: relative;
        left: -83.33333%
    }
    .xxlarge-offset-9 {
        margin-left: 75%
    }
    .xxlarge-11 {
        width: 91.66667%
    }
    .xxlarge-push-11 {
        position: relative;
        left: 91.66667%
    }
    .xxlarge-pull-11 {
        position: relative;
        left: -91.66667%
    }
    .xxlarge-offset-10 {
        margin-left: 83.33333%
    }
    .xxlarge-12 {
        width: 100%
    }
    .xxlarge-offset-11 {
        margin-left: 91.66667%
    }
    .xxlarge-up-1>.column,
    .xxlarge-up-1>.columns {
        float: left;
        width: 100%
    }
    .xxlarge-up-1>.column:nth-of-type(1n),
    .xxlarge-up-1>.columns:nth-of-type(1n) {
        clear: none
    }
    .xxlarge-up-1>.column:nth-of-type(1n+1),
    .xxlarge-up-1>.columns:nth-of-type(1n+1) {
        clear: both
    }
    .xxlarge-up-1>.column:last-child,
    .xxlarge-up-1>.columns:last-child {
        float: left
    }
    .xxlarge-up-2>.column,
    .xxlarge-up-2>.columns {
        float: left;
        width: 50%
    }
    .xxlarge-up-2>.column:nth-of-type(1n),
    .xxlarge-up-2>.columns:nth-of-type(1n) {
        clear: none
    }
    .xxlarge-up-2>.column:nth-of-type(2n+1),
    .xxlarge-up-2>.columns:nth-of-type(2n+1) {
        clear: both
    }
    .xxlarge-up-2>.column:last-child,
    .xxlarge-up-2>.columns:last-child {
        float: left
    }
    .xxlarge-up-3>.column,
    .xxlarge-up-3>.columns {
        float: left;
        width: 33.33333%
    }
    .xxlarge-up-3>.column:nth-of-type(1n),
    .xxlarge-up-3>.columns:nth-of-type(1n) {
        clear: none
    }
    .xxlarge-up-3>.column:nth-of-type(3n+1),
    .xxlarge-up-3>.columns:nth-of-type(3n+1) {
        clear: both
    }
    .xxlarge-up-3>.column:last-child,
    .xxlarge-up-3>.columns:last-child {
        float: left
    }
    .xxlarge-up-4>.column,
    .xxlarge-up-4>.columns {
        float: left;
        width: 25%
    }
    .xxlarge-up-4>.column:nth-of-type(1n),
    .xxlarge-up-4>.columns:nth-of-type(1n) {
        clear: none
    }
    .xxlarge-up-4>.column:nth-of-type(4n+1),
    .xxlarge-up-4>.columns:nth-of-type(4n+1) {
        clear: both
    }
    .xxlarge-up-4>.column:last-child,
    .xxlarge-up-4>.columns:last-child {
        float: left
    }
    .xxlarge-up-5>.column,
    .xxlarge-up-5>.columns {
        float: left;
        width: 20%
    }
    .xxlarge-up-5>.column:nth-of-type(1n),
    .xxlarge-up-5>.columns:nth-of-type(1n) {
        clear: none
    }
    .xxlarge-up-5>.column:nth-of-type(5n+1),
    .xxlarge-up-5>.columns:nth-of-type(5n+1) {
        clear: both
    }
    .xxlarge-up-5>.column:last-child,
    .xxlarge-up-5>.columns:last-child {
        float: left
    }
    .xxlarge-up-6>.column,
    .xxlarge-up-6>.columns {
        float: left;
        width: 16.66667%
    }
    .xxlarge-up-6>.column:nth-of-type(1n),
    .xxlarge-up-6>.columns:nth-of-type(1n) {
        clear: none
    }
    .xxlarge-up-6>.column:nth-of-type(6n+1),
    .xxlarge-up-6>.columns:nth-of-type(6n+1) {
        clear: both
    }
    .xxlarge-up-6>.column:last-child,
    .xxlarge-up-6>.columns:last-child {
        float: left
    }
    .xxlarge-up-7>.column,
    .xxlarge-up-7>.columns {
        float: left;
        width: 14.28571%
    }
    .xxlarge-up-7>.column:nth-of-type(1n),
    .xxlarge-up-7>.columns:nth-of-type(1n) {
        clear: none
    }
    .xxlarge-up-7>.column:nth-of-type(7n+1),
    .xxlarge-up-7>.columns:nth-of-type(7n+1) {
        clear: both
    }
    .xxlarge-up-7>.column:last-child,
    .xxlarge-up-7>.columns:last-child {
        float: left
    }
    .xxlarge-up-8>.column,
    .xxlarge-up-8>.columns {
        float: left;
        width: 12.5%
    }
    .xxlarge-up-8>.column:nth-of-type(1n),
    .xxlarge-up-8>.columns:nth-of-type(1n) {
        clear: none
    }
    .xxlarge-up-8>.column:nth-of-type(8n+1),
    .xxlarge-up-8>.columns:nth-of-type(8n+1) {
        clear: both
    }
    .xxlarge-up-8>.column:last-child,
    .xxlarge-up-8>.columns:last-child {
        float: left
    }
    .xxlarge-collapse>.column,
    .xxlarge-collapse>.columns {
        padding-right: 0;
        padding-left: 0
    }
    .xxlarge-collapse .row {
        margin-right: 0;
        margin-left: 0
    }
    .expanded.row .xxlarge-collapse.row {
        margin-right: 0;
        margin-left: 0
    }
    .xxlarge-uncollapse>.column,
    .xxlarge-uncollapse>.columns {
        padding-right: 1.40625rem;
        padding-left: 1.40625rem
    }
    .xxlarge-centered {
        margin-right: auto;
        margin-left: auto
    }
    .xxlarge-centered,
    .xxlarge-centered:last-child:not(:first-child) {
        float: none;
        clear: both
    }
    .xxlarge-pull-0,
    .xxlarge-push-0,
    .xxlarge-uncentered {
        position: static;
        float: left;
        margin-right: 0;
        margin-left: 0
    }
}

.column-block {
    margin-bottom: 1.25rem
}

.column-block>:last-child {
    margin-bottom: 0
}

@media print,
screen and (min-width:40em) {
    .column-block {
        margin-bottom: 2.8125rem
    }
    .column-block>:last-child {
        margin-bottom: 0
    }
}

@media screen and (max-width:39.9375em) {
    .hide-for-small-only {
        display: none !important
    }
}



/* Footer CSS */
.footer-container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #cacaca;
    background-color: #646464;
    font-family: proxima-nova,helvetica neue,Helvetica,Roboto,Arial,sans-serif;
}

.footer {
    max-width: 87.5rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 1400px;
    padding: 1.875rem 0
}

.footer::after,
.footer::before {
    display: table;
    content: ' '
}

.footer::after {
    clear: both
}

.footer div {
    margin: 0;
    padding: 0;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.footer .footer-info {
    text-align: center;
    font-size: 80%;
    color: #fefefe
}

.footer .footer-info a {
    color: #fefefe
}

.footer .menu .is-active>a {
    background-color: #646464;
    font-weight: 700
}

.footer .menu li {
    display: block
}

.footer .menu li a {
    color: #fefefe;
    padding: .3rem 0;
    margin-bottom: 0;
    font-size: 0.875rem;
    text-decoration: none;
}

.footer h6 {
    color: #fefefe;
    font-weight: 700;
    text-transform: capitalize;
    margin: 1rem 0;
    font-size: .875rem;
}

/* header CSS */
.site-header {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fefefe;
    display: block;
    font-family: proxima-nova, "helvetica neue", Helvetica, Roboto, Arial, sans-serif;
}

.site-header h3 {
    margin: 0;
    padding: 0;
}

.site-header h5 {
    font-size: 1.125rem;
    line-height: 1.4;
    margin-top: 0;
    font-weight: 400;
}

.site-header img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

.site-header a {
    text-decoration: none;
}

.title-bar {
    padding: .5rem;
    background: #fefefe;
    color: #242424
}

.title-bar::after,
.title-bar::before {
    display: table;
    content: ' '
}

.title-bar::after {
    clear: both
}

.title-bar .menu-icon {
    margin-left: .25rem;
    margin-right: .25rem
}

.title-bar-left {
    float: left
}

.title-bar-right {
    float: right;
    text-align: right
}

.title-bar-title {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700
}

.title-bar-center {
    position: absolute;
    width: calc(100% - 80px);
    left: 40px;
    text-align: center
}

.mobile-nav-bar {
    border-bottom: 2px solid #58595a
}

.menu-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 16px;
    cursor: pointer
}

.title-bar-left button.menu-icon {
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
    background: 0 0;
    border: 0;
    line-height: 1;
    padding: 0;
}

.menu-icon::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #242424;
    box-shadow: 0 7px 0 #242424, 0 14px 0 #242424;
    content: ''
}

.menu-icon:hover::after {
    background: #0a0a0a;
    box-shadow: 0 7px 0 #0a0a0a, 0 14px 0 #0a0a0a
}

.menu-icon.dark {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 16px;
    cursor: pointer
}

.menu-icon.dark::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #0a0a0a;
    box-shadow: 0 7px 0 #0a0a0a, 0 14px 0 #0a0a0a;
    content: ''
}

.menu-icon.dark:hover::after {
    background: #8a8a8a;
    box-shadow: 0 7px 0 #8a8a8a, 0 14px 0 #8a8a8a
}

#mobile-menu {
    background-color: #646464;
    padding: 20px 10px
}

#mobile-menu li.is-active>a {
    background: 0 0
}

#mobile-menu li a {
    color: #fefefe;
    font-weight: 700;
    font-family: proxima-nova,helvetica neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 0.875rem;
}

#mobile-menu ul {
    margin-left: 1rem;
    margin-right: 1rem;

}

#mobile-menu ul.is-active {
    border-top: 2px solid #fefefe;
    margin-right: 1rem
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative
}

.menu .button,
.menu a {
    line-height: 1;
    text-decoration: none;
    white-space: nowrap;
    display: block;
    padding: .7rem 1rem
}

.menu a,
.menu button,
.menu input,
.menu select {
    margin-bottom: 0
}

.menu input {
    display: inline-block
}

.menu li,
.menu.horizontal li {
    display: inline-block
}

.menu.vertical li {
    display: block
}

.menu.expanded {
    display: table;
    width: 100%
}

.menu.expanded>li {
    display: table-cell;
    vertical-align: middle
}

.menu.simple li+li {
    margin-left: 1rem
}

.menu.simple a {
    padding: 0
}

form .form-icons {
    text-align: center;
    margin-top: 1rem
}

form .search-input#s {
 font-size: 1rem;
}

form .form-icons .input-group-label {
    border: 0;
    border-bottom: 2px solid #242424;
    background-color: #fefefe;
    padding-right: .5rem
}

form .form-icons .input-group-field {
    border: 0;
    border-bottom: 2px solid #242424;
    box-shadow: none;
    max-width: 900px;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
}

form .form-icons .input-group-field::-webkit-input-placeholder {
    color: #ff7539
}

form .form-icons .input-group-field:-ms-input-placeholder {
    color: #ff7539
}

form .form-icons .input-group-field::placeholder {
    color: #ff7539
}

form .form-icons .fa {
    color: #242424;
    font-size: 1.5rem;
    width: 1.5rem
}

.search-input {
    color: #ff7539
}

#searchform .input-group {
    width: auto;
    max-width: calc(100vw - 350px)
}

@media print,
screen and (min-width:62em) {
    #searchform .input-group {
        max-width: calc(100vw - 500px)
    }
}

#search-form-mobile .input-group-field,
#search-form-mobile .input-group-label {
    border: 0
}

#search-form-mobile .fa {
    font-size: 1rem;
    width: 1rem;
    margin-left: -.5rem
}

#search-form-mobile #searchsubmit {
    font-weight: 700;
    background-color: #51b989;
    line-height: 1;
    padding: 0.7rem 1rem;
    text-decoration: none;
    border: 1px solid transparent;
    color: #fefefe;
}

.input-group {
    display: table;
    width: 100%;
    margin-bottom: 1rem
}

.input-group>:first-child {
    border-radius: 0
}

.input-group>:last-child>* {
    border-radius: 0
}

.input-group-button,
.input-group-button a,
.input-group-button button,
.input-group-button input,
.input-group-button label,
.input-group-field,
.input-group-label {
    margin: 0;
    white-space: nowrap;
    display: table-cell;
    vertical-align: middle
}

.input-group-label {
    padding: 0 1rem;
    border: 1px solid #cacaca;
    background: #e6e6e6;
    color: #0a0a0a;
    text-align: center;
    white-space: nowrap;
    width: 1%;
    height: 100%
}

.input-group-label:first-child {
    border-right: 0
}

.input-group-label:last-child {
    border-left: 0
}

.input-group-field {
    border-radius: 0;
    height: 2.5rem
}

.input-group-button {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    width: 1%;
    height: 100%
}

.input-group-button a,
.input-group-button button,
.input-group-button input,
.input-group-button label {
    height: 2.5rem;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1rem
}

.input-group .input-group-button {
    display: table-cell
}

.vertical.menu #menu-main-mobile {
    margin: 0;
    padding: 0;
}

a.header-social-logo {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-decoration: none
}

a.header-social-logo.facebook {
    background: url(https://techboomers.com/wp-content/themes/TechBoomers2018/dist/assets/images/icons/social-logo50x50.png) no-repeat -4px -4px;
    margin: .5rem 1rem
}

a.header-social-logo.twitter {
    background: url(https://techboomers.com/wp-content/themes/TechBoomers2018/dist/assets/images/icons/social-logo50x50.png) no-repeat -4px -62px;
    margin: .5rem 1rem .5rem 0
}

a.header-social-logo.youtube {
    background: url(https://techboomers.com/wp-content/themes/TechBoomers2018/dist/assets/images/icons/social-logo50x50.png) no-repeat -4px -120px;
    margin: .5rem 1rem .5rem 0
}

.megamenu-nav {
    position: relative;
    z-index: 5000
}

@media screen and (max-width:39.9375em) {
    .megamenu-nav {
        display: none !important
    }
}

.megamenu-nav li {
    float: left;
    min-height: 1px;
    text-align: center;
    background-color: transparent;
    position: relative;
    list-style: none;
    width: 150px
}

@media screen and (min-width:75em) {
    .megamenu-nav li {
        width: 175px
    }
}

.megamenu-nav div .active {
    display: block !important
}

.megamenu-nav ul#menu-mega-menu {
    background-color: #fefefe;
    border-bottom: 4px solid #242424;
    margin-left: 0;
    margin-bottom: 0;
    font-size: 1rem;
    padding: 0;
    margin-top: 0;
}

.megamenu-nav ul#menu-mega-menu::after,
.megamenu-nav ul#menu-mega-menu::before {
    display: table;
    content: ' '
}

.megamenu-nav ul#menu-mega-menu::after {
    clear: both
}

.megamenu-nav ul#menu-mega-menu li {
    color: #242424;
    font-weight: 700
}

.megamenu-nav ul#menu-mega-menu li:first-child {
    margin-left: 0
}

.megamenu-nav ul#menu-mega-menu li.course-page-link {
    width: 150px;
    font-weight: 400
}

.megamenu-nav ul#menu-mega-menu li.course-page-link a.navlink {
    color: #ff7539
}

.megamenu-nav ul#menu-mega-menu li.active.mega-menu {
    text-decoration: none;
    box-shadow: 0 4px 0 #fefefe
}

.megamenu-nav ul#menu-mega-menu li a.navlink {
    color: #242424;
    height: 65px;
    display: block;
    padding: 5px 15px
}

.megamenu-nav ul#menu-mega-menu li a.navlink:focus,
.megamenu-nav ul#menu-mega-menu li a.navlink:hover {
    text-decoration: none;
    box-shadow: 0 4px 0 #fefefe
}

.megamenu-nav ul#menu-mega-menu .subcategory-nav {
    width: 100vw;
    max-width: 87.5rem;
    margin: 0;
    display: none
}

.megamenu-nav ul#menu-mega-menu .subcategory-nav ul.subcat-nav-list {
    background-color: #0690d9;
    margin: 4px 0 0;
    font-size: 1rem;
    padding: 0;
}

.megamenu-nav ul#menu-mega-menu .subcategory-nav ul.subcat-nav-list::after,
.megamenu-nav ul#menu-mega-menu .subcategory-nav ul.subcat-nav-list::before {
    display: table;
    content: ' '
}

.megamenu-nav ul#menu-mega-menu .subcategory-nav ul.subcat-nav-list::after {
    clear: both
}

.megamenu-nav ul#menu-mega-menu .subcategory-nav ul.subcat-nav-list li {
    font-weight: 400;
    width: auto
}

.megamenu-nav ul#menu-mega-menu .subcategory-nav ul.subcat-nav-list li.active.menu-item {
    text-decoration: none;
    box-shadow: 0 4px 0 #fefefe
}

.megamenu-nav ul#menu-mega-menu .subcategory-nav ul.subcat-nav-list li a.navlink {
    font-weight: 400;
    height: auto;
    color: #fefefe
}

.megamenu-nav ul#menu-mega-menu .subcategory-nav ul.subcat-nav-list li a.navlink:hover {
    text-decoration: none;
    box-shadow: 0 4px 0 #fefefe
}

.megamenu-nav ul#menu-mega-menu .category-panels {
    width: 100%;
    background-color: #58595a;
    color: #fefefe;
    padding: 15px
}

.megamenu-nav ul#menu-mega-menu .category-panels .category {
    display: none;
    max-width: 1200px;
    margin-left: 0
}

.megamenu-nav ul#menu-mega-menu .category-panels .category p a {
    color: #fefefe
}

.megamenu-nav ul#menu-mega-menu .category-panels .category ul.popular-courses {
    font-size: 1.2rem
}

.megamenu-nav ul#menu-mega-menu .category-panels .category ul.popular-courses::after,
.megamenu-nav ul#menu-mega-menu .category-panels .category ul.popular-courses::before {
    display: table;
    content: ' '
}

.megamenu-nav ul#menu-mega-menu .category-panels .category ul.popular-courses::after {
    clear: both
}

.megamenu-nav ul#menu-mega-menu .category-panels .category ul.popular-courses li {
    text-align: left;
    height: auto;
    font-weight: 400;
    padding: 5px 0
}

.megamenu-nav ul#menu-mega-menu .category-panels .category ul.popular-courses li:first-child {
    margin-left: 0
}

.megamenu-nav ul#menu-mega-menu .category-panels .category ul.popular-courses li a {
    color: #fefefe;
    display: inline;
    padding: 0;
    height: auto
}

.megamenu-nav ul#menu-mega-menu .category-panels .category ul.popular-courses li a:hover {
    text-decoration: underline;
    box-shadow: none
}

@media screen and (min-width:75em) {
    .megamenu-nav ul#menu-mega-menu {
        font-size: 1.2rem
    }
    .megamenu-nav ul#menu-mega-menu li:first-child {
        margin-left: 250px
    }
    .megamenu-nav ul#menu-mega-menu li.course-page-link {
        width: 250px;
        margin-left: 0
    }
}

.subcategory-nav-container {
    position: absolute
}

@media screen and (min-width:40em) and (max-width:61.9375em) {
    li.menu-item:nth-child(2) .subcategory-nav-container {
        left: 0
    }
    li.menu-item:nth-child(3) .subcategory-nav-container {
        left: -150px
    }
    li.menu-item:nth-child(4) .subcategory-nav-container {
        left: -300px
    }
    li.menu-item:nth-child(5) .subcategory-nav-container {
        left: -450px
    }
    li.menu-item:nth-child(6) .subcategory-nav-container {
        left: -600px
    }
}

@media screen and (min-width:62em) and (max-width:74.9375em) {
    li.menu-item:nth-child(2) .subcategory-nav-container {
        left: -150px
    }
    li.menu-item:nth-child(3) .subcategory-nav-container {
        left: -300px
    }
    li.menu-item:nth-child(4) .subcategory-nav-container {
        left: -450px
    }
    li.menu-item:nth-child(5) .subcategory-nav-container {
        left: -600px
    }
    li.menu-item:nth-child(6) .subcategory-nav-container {
        left: -750px
    }
}

@media screen and (min-width:75em) {
    li:nth-child(2) .subcategory-nav-container {
        left: -250px
    }
    li:nth-child(3) .subcategory-nav-container {
        left: -425px
    }
    li:nth-child(4) .subcategory-nav-container {
        left: -600px
    }
    li:nth-child(5) .subcategory-nav-container {
        left: -775px
    }
    li:nth-child(6) .subcategory-nav-container {
        left: -950px
    }
}

.category-panels ul {
    margin-left: 20px;
    padding: 0px;
}

.header-home-link {
    display: block;
    padding: .5rem 1rem 0
}

.card {
    border: 0;
    box-shadow: -2px 2px 5px 2px #bcbcbc;
    background: #fefefe;
    margin-bottom: 1rem;
    border-radius: 0;
    color: #242424
}

#menu-mega-menu .card {
    box-shadow: none
}

.card-section {
    padding: 1rem
}

.card-section>:last-child {
    margin-bottom: 0
}

.card.horizontal {
    text-align: left
}

.card.horizontal .columns {
    padding: 0
}

.card.horizontal h6 {
    font-size: 80%;
    color: #58595a
}

.card.horizontal .card-divider {
    padding: .3rem 1rem;
    border-top: 4px solid #0690d9;
    font-size: 1rem;
    padding: 0
}

.card.horizontal .card-divider.category-blue {
    border-color: #0690d9
}

.card.horizontal .card-divider.category-green {
    border-color: #27a09c
}

.card.horizontal .card-divider.category-red {
    border-color: #e53939
}

.card.horizontal .card-divider.category-orange {
    border-color: #ff7539
}

.card.horizontal .card-divider.category-dark-blue,
.card.horizontal .card-divider.category-navy {
    border-color: #043b58
}

.card.horizontal.card-small .card-section {
    padding: .3rem .5rem;
    font-size: 1rem
}

.card.horizontal.card-medium .card-divider,
.card.horizontal.card-medium .card-section {
    padding: .3rem .5rem
}

.card.horizontal.card-medium .card-divider {
    padding: 0
}

.card-tall {
    text-align: right;
    overflow: visible;
    font-size: 0
}

.card-tall .card-divider,
.card-tall .card-section {
    text-align: left;
    font-size: 1rem;
    padding: .3rem .5rem
}

.card-tall .card-section {
    height: 120px
}

.card-tall.card-course .card-section {
    height: 100%
}

.card-tall.card-course .card-section h4 {
    margin-bottom: 0;
    margin-top: .5rem
}

.card-tall p {
    padding: 1rem .5rem
}

.card-tall h6 {
    font-size: 80%;
    color: #58595a
}

.card-tall img {
    border-top: 4px solid #0690d9;
    margin: 0 auto
}

.card-tall img.category-blue {
    border-color: #0690d9
}

.card-tall img.category-green {
    border-color: #27a09c
}

.card-tall img.category-red {
    border-color: #e53939
}

.card-tall img.category-orange {
    border-color: #ff7539
}

.card-tall img.category-dark-blue,
.card-tall img.category-navy {
    border-color: #043b58
}

.card-tall .offset-logo {
    width: 50px;
    height: 50px;
    vertical-align: top;
    margin-top: -100px;
    margin-bottom: -100px;
    margin-right: -25px;
    border: 0
}

a.card-link {
    color: #242424;
    background-color: transparent;
}

.card-link:hover {
    text-decoration: none
}

.card-link:hover.category-blue {
    color: #0690d9
}

.card-link:hover.category-blue h4,
.card-link:hover.category-blue h5,
.card-link:hover.category-blue p {
    color: #0690d9
}

.card-link:hover.category-blue h4 {
    text-decoration: underline
}

.card-link:hover.category-green {
    color: #27a09c
}

.card-link:hover.category-red {
    color: #e53939
}

.card-link:hover.category-orange {
    color: #ff7539
}

.card-link:hover.category-dark-blue,
.card-link:hover.category-navy {
    color: #043b58
}